Bulid a text classifaction to categorize the news into 2 categoriws such as 0 and 1

Step-1 : Import necessary libaries

In [ ]:
# For data colloction and data manipulation
import pandas as pd

Step-2 : Load Dataset

In [ ]:
url = 'https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/train.csv'

In [ ]:
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [ ]:
df.head(10)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [ ]:
print(df.rename(columns={'label':'category','tweet':'text'}))

          id  category                                               text
0          1         0   @user when a father is dysfunctional and is s...
1          2         0  @user @user thanks for #lyft credit i can't us...
2          3         0                                bihday your majesty
3          4         0  #model   i love u take with u all the time in ...
4          5         0             factsguide: society now    #motivation
...      ...       ...                                                ...
31957  31958         0  ate @user isz that youuu?ðððððð...
31958  31959         0    to see nina turner on the airwaves trying to...
31959  31960         0  listening to sad songs on a monday morning otw...
31960  31961         1  @user #sikh #temple vandalised in in #calgary,...
31961  31962         0                   thank you @user for you follow

[31962 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

Step-3 : Explore Data

In [ ]:
import seaborn as sns

In [ ]:
sns.countplot(x='category',data=df,color='green')

ValueError: Could not interpret value `category` for `x`. An entry with this name does not appear in `data`.

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords